# Caches de Python
*.pyc
__pycache__/

# Archivos del sistema y editores
.DS_Store
.idea/
.vscode/

# Entornos virtuales
.venv/

# Archivos de configuración local con contraseñas reales
.env
local_settings.py